/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

/* reset.css */
body {
    margin: 0;
    font-family : 'Shizuru', 'Open Sans';
}

/* style.css */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.container {
    text-align: center;
}

.container > h2 {
    color : white;
    background-color: #000;
    padding: 1.25rem;
}

.btn {
    font-family : 'Shizuru', 'Open Sans';
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px dashed black;
    padding: 0.5rem 0.75rem;  /* 2개 작성 -> 상하, 좌우*/
}